#calculator{
  border:5px solid rgb(55, 52, 52);
  border-radius: 5px;
  width: 200px;
  

}
#display{
  margin:10px;
  width: 85%;
  font-size: 25px;

}
.button{
  width: 45px;
  height: 45px;
  margin:3px;
}
#buttonconta{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}